body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

#verticalButtons{
    position: absolute;
    left: 2rem;
    top: 2rem;
}

button{
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    cursor:pointer;
    font-size: 3rem;
    margin-right: 2rem;
    opacity: 0.7;
    transition: all 0.3s;
}
button:hover{
    background:#1B262C;
    opacity: 1;
    transition: all 0.3s;
}

#networkCanvas{
    background:#1B262C;
    
}
#carCanvas{
    background:lightgray;
}